<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <!-- ! Hide app brand if navbar-full -->
  {% if not navbar_full %}
    <div class="app-brand demo">
      <a href="{% url 'index' %}" class="app-brand-link">
        <span class="app-brand-logo demo">
          {% include 'partials/logo.html' with withbg="#696cff" %}
        </span>
        <span class="app-brand-text demo menu-text fw-bold ms-2">{% get_theme_variables 'template_name' %}</span>
      </a>

      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm d-flex align-items-center justify-content-center"></i>
      </a>
  </div>

  {% load static %}


  {% endif %}


  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">

    <li class="menu-item {% if 'index' == request.resolver_match.url_name or '/dashbord/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-home-smile"></i>
        <div class="text-truncate" data-i18n="Dashboards">Dashboards</div>
        {% comment %} <span class="badge bg-danger rounded-pill ms-auto">5</span> {% endcomment %}
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if 'index' == request.resolver_match.url_name %}active{% endif %}">
          <a href="{% url 'index' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Analytics">Analytics</div>
          </a>
        </li>
      </ul>
    </li>


    <!-- clinic management -->
    <li class="menu-item {% if '/clinic/' in request.path  %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-clinic"></i>
        <div class="text-truncate" data-i18n="Layouts">Clinic</div>
      </a>
      <ul class="menu-sub">


      {% if request.user.is_superuser%}
        <li class="menu-item {% if '/view-clinic/' in request.path %}active{% endif %}">
          <a  href="{% url 'view_clinic'  %}" class="menu-link">
            <div class="text-truncate" data-i18n="Without navbar">View Clinics</div>
          </a>
        </li>
      
      {% endif %}


        <li class="menu-item {% if '/view-clinic-user/' in request.path %}active{% endif %}">
          <a  href="{% url 'view_clinic_user'  %}" class="menu-link">
            <div class="text-truncate" data-i18n="Without navbar">View Clinic User/Doctor</div>
          </a>
        </li>
        
        </li>
      </ul>
    </li>


        <!--Patients-->

        <li class="menu-item {% if '/patients/' in request.path  %}active open{% endif %}">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-user-circle"></i>
            <div class="text-truncate" data-i18n="Layouts">Patients</div>
          </a>
          <ul class="menu-sub">

            
            <li class="menu-item {% if '/add-appointment' in request.path %}active{% endif %}">
              <a  href="{% url 'add_appointment'  %}" class="menu-link">
                <div class="text-truncate" data-i18n="Without navbar">Add Appointement</div>
              </a>
            </li>

            <li class="menu-item {% if '/view-appointment' in request.path %}active{% endif %}">
              <a  href="{% url 'view_appointment'  %}" class="menu-link">
                <div class="text-truncate" data-i18n="Without navbar">View Appointement</div>
              </a>
            </li>

            <li class="menu-item {% if '/view-patients/' in request.path %}active{% endif %}">
              <a  href="{% url 'view_patients'  %}" class="menu-link">
                <div class="text-truncate" data-i18n="Without navbar">View Patients</div>
              </a>
            </li>

            <li class="menu-item {% if '/complete-payment' in request.path %}active{% endif %}">
              <a  href="{% url 'complete_payment'  %}" class="menu-link">
                <div class="text-truncate" data-i18n="Without navbar">Complete Payment</div>
              </a>
            </li>

            
        </li>
      </ul>
    </li>





    <!--* Layouts -->
   {% comment %} <li class="menu-item {% if '/layouts/' in request.path  %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-layout"></i>
        <div class="text-truncate" data-i18n="Layouts">Layouts</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if '/without_menu/' in request.path %}active{% endif %}">
          <a  class="menu-link">
            <div class="text-truncate" data-i18n="Without menu">Without menu</div>
          </a>
        </li>
        <li class="menu-item {% if '/without_navbar/' in request.path %}active{% endif %}">
          <a  class="menu-link">
            <div class="text-truncate" data-i18n="Without navbar">Without navbar</div>
          </a>
        </li>

        </li>
      </ul>
    </li> {% endcomment %}


    {% comment %} <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Apps & Pages</span>
    </li>

    <li class="menu-item">
      <a href="{% get_theme_variables 'live_preview' %}app/email/" class="menu-link" target="_blank">
        <i class="menu-icon tf-icons bx bx-envelope"></i>
        <div class="text-truncate" data-i18n="Email">Email</div>
        <span class="badge bg-label-primary fs-tiny rounded-pill ms-auto">PRO</span>
      </a>
    </li>


    <!-- Account -->
    <li class="menu-item {% if '/account_settings/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-dock-top"></i>
        <div class="text-truncate" data-i18n="Account Settings">Account Settings</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if '/account/' in request.path %}active{% endif %}">
          <a href="{% url 'pages-account-settings-account' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Account">Account</div>
          </a>
        </li>

      </ul>
    </li>
    <!-- Auth -->
    <li class="menu-item {% if '/auth/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
        <div class="text-truncate" data-i18n="Authentications">Authentications</div>
      </a>
      <ul class="menu-sub">

        <li class="menu-item {% if '/forgot_password/' in request.path %}active{% endif %}">
          <a href="{% url 'auth-forgot-password-basic' %}" class="menu-link" target="_blank">
            <div class="text-truncate" data-i18n="Frogot Password">Frogot Password</div>
          </a>
        </li>
      </ul>
    </li> {% endcomment %}


    {% comment %} components starts here {% endcomment %}

    {% comment %} <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Components</span>
    </li>

    <li class="menu-item {% if '/cards/basic/' in request.path %}active{% endif %}">
      <a href="{% url 'cards-basic' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-collection"></i>
        <div class="text-truncate" data-i18n="Card">Cards</div>
      </a>
    </li>

    <li class="menu-item {% if '/boxicons/' in request.path %}active{% endif %}">
      <a href="{% url 'icons-boxicons' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-crown"></i>
        <div class="text-truncate" data-i18n="Boxicons">Boxicons</div>
      </a>
    </li> {% endcomment %}

  </ul>


</aside>
